<div class="is-gift">
  <input type="checkbox">
  <div class="flatpickr calendar">
    <input
      id="picker"
      type="textarea"
      placeholder="Estimated Due Date"
      name="properties[Gift]"
      form='{{product_form_id}}'
      required>
  </div>
</div>

<script></script>